*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
     
}

.fst {
    /* background-attachment: fixed; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("bg.jpg");
    height: 95vh;
    width: 100%;
    
}
/* body{
    z-index: 1;
} */
.navbar{
    display: flex;
    -webkit-box-align: center;
    justify-content:space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    /* width: inherit; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}
.navbar img{
   width: 9.25rem;
   height: 2.5rem;
   
}
@media screen and (max-width: 959.98px) {
    .navbar img {
        width: 5.5625rem;
        height: 1.5rem;
    }
}
.select{
    position: relative;
    right: 50px;
    select{
        /* line-height: 1.25rem; */
        /* padding-right: calc(2.25rem + rem); */
        /* padding-bottom: 0.8rem;
        padding-left: calc(0.75rem + 1rem + 0.5rem); */
        /* justify-content: flex-end; */
        border: 2px solid black;
        color:black;
        font-weight:bolder;
        filter:opacity(30%);
        /* position: absolute; */
        padding: 8px;

    }
    button{
        cursor: pointer;
        /* fill: currentColor; */
        position: absolute;
        padding: 8px ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
        vertical-align: text-top;
        width: 4.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        min-height: 2rem;
        /* padding: 0.25rem 1rem; */
        border-radius: 0.25rem;
        background: rgb(229, 9, 20);
        color: rgb(255, 255, 255);
    }
}

.content{
   display: block;
   text-align: center;
   justify-content: center;
   color: white;
   margin-top: 100px;



   h3{
    margin-top: 40px;
   }
   .con2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 4px;
    

   }
   .con2 input{
    font-size: 1rem;
    line-height: 1.5;
    width: 30%;
    /* padding: 1.5rem 1rem 0.5rem; */
    color: black;
    filter: opacity(30%);
   }
   .con2 button{
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
   }
}

.snd{
    position: relative;
    text-align: center;
    color: white;
    background-color:black;
    mix-blend-mode: color-burn;
    display: flex;
    padding-top: 8px;
    margin-top: 2px;
    width: 100%;
    height: 80vh;
    /* z-index: 1; */
}
.head {
    padding-top: 180px;
    padding-left: 70px;
    h2{
    font-size:40px;   
   }
   p{
    font-weight: bolder;
    padding-top: 20px;
   }
}
.con-2 img{
    /* width: 100%; */
    border: 0;
    overflow-clip-margin: content-box;
}
.play{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 48%;
    left: 67%;
    transform:translate(-50%, -50%)
}
.thrd{
    width: 100%;
    display:flex;
    height: 100%;
    margin-top: 2px;
    justify-content: space-between;
    /* text-align: center; */
    box-sizing: border-box;
    flex-basis: 100%;
    padding: 0;
    background-color: black;
    

.img{
    /* display: flex; */
    /* border: 2px solid red; */
    width: 50%;
    /* margin-right: 30px; */
    /* right: 50%; */
   /* margin: 200px; */
    
    .a1{
        display: flex;
        text-align: center;
        /* justify-content: center; */
        align-items: center;
        border: 2px solid rgb(71, 71, 74);
        color: white;
        background-color:black;
        border-radius: 20px;
        position:relative;
        width:fit-content;
        height: 6rem;
        bottom: 130px;
        left: 160px;
        img{
            height: 5rem;
            padding-left: 20px;
        }
        .a2{
            margin: 0.3rem 1rem;
            display: flex;
            flex-direction: column;
        }
        .a3 img{
            height: 60px;
        }

    }
}
.b1{
    /* background: #190430; */
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;

    h2 {
        font-size:50px;
    }
    p{
        font-size: 20px;
    }
    
}
}
.frth{
    position: relative;
    overflow-y: hidden;
    text-align: center;
    color: white;
    background-color:black;
    mix-blend-mode: color-burn;
    display: flex;
    padding-top: 8px;
    margin-top: 2px;
    /* width: 95%; */
    /* padding-left: 80px; */
    .head4 {
        padding-top: 180px;
        padding-left: 70px;
        h2{
        font-size:40px;   
       }
       p{
        font-weight: bolder;
        padding-top: 20px;
       }
    }
    .con-4 img{
        /* width: 100%; */
        border: 0;
        /* overflow-clip-margin: content-box; */
        padding-left: 60px;
    }
    .play4{
        z-index: -1;
        overflow: hidden;
        /* width: 26vw; */
        height: 100%;
        max-width: 26vw;
        max-height: 100%;
        position: absolute;
        top: 58%;
        left: 64%;
        transform: translate(-50%, -50%);
    }

}
.fifth{
    display: flex;
    position:relative;
    background: #000;
    color: white;
    margin-top: 2px;

    .img{
        padding: 20px 40px;
        img{
        width: 38vw;
        }
    }
    .b5{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        h1{
            font-weight: bolder;
            font-size: 69px;
        }
    }
}
.six{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    margin-top: 2px;

    h1{
        color: gray;
        font-size: 85px;
        margin: 10px;    
    }
    ul{
        display: flexbox;
    }
    li{
        display: flex;
        justify-content: space-between;
        width: 66vw;
        height: 12vh;
        margin-bottom: 4px;
        cursor: pointer;
        background-color: rgb(34, 34, 34);
        text-align: center;
        align-items: center;
        h2{
            color: white;
            padding: 10px;
        }
        button{
            width: 40px;
            background:rgb(34, 34, 34);
            border: none;
            font-size: 30px;
            color: white;
            padding: 4px;
        }
    }
    h3{
        margin-top: 20px;
        color: white;
        text-align: center;
       }
       .con2{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 4px;
        
    
       }
       .con2 input{
        font-size: 1rem;
        line-height: 1.5;
        width: 30%;
        /* padding: 1.5rem 1rem 0.5rem; */
        color: black;
        filter: opacity(30%);
       }
       .con2 button{
        font-size: 1.5rem;
        font-weight: 500;
        min-height: 3.5rem;
        padding: 0.75rem 1.5rem;
        border-radius: 0.25rem;
        background: rgb(229, 9, 20);
        color: rgb(255, 255, 255);
       }
}
.footer{
    background: #000;
    margin-top: 2px;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding: 10rem;
    .end{
        margin-top: 20px;
    }
    ul{
        flex-wrap: wrap;
        width: inherit;
        height: inherit;
        margin-top: -1rem;
        /* margin-left: -0.75rem; */
        width: calc(100% + 0.75rem);
        flex-direction:column;
        padding: 0px;
         display: inline-flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;
    }
}